<div class="home-container">
    <div class="main-content">
        <div class="input-section">
            <h2 class="section-title">Entrada de Voz</h2>

            <app-transcription-new (textChange)="onTextChange($event)" (languageChange)="onLanguageChange($event)">
            </app-transcription-new>

            <!-- Dropdown para categoría -->
            <p-dropdown class="my-4 w-full" [options]="tags" optionLabel="name" optionValue="id" [(ngModel)]="selectedTagId" placeholder="Seleccione una categoría" [ngClass]="{'p-invalid': !selectedTagId && isSaving}"></p-dropdown>

            <!-- Guardar -->
            <button class="save-button" [disabled]="!recognizedText.trim() || !selectedTagId || isSaving" (click)="saveText()">
        <span *ngIf="!isSaving">Guardar Texto</span>
        <span *ngIf="isSaving">Guardando...</span>
      </button>

            <div *ngIf="saveTranscriptionErrorMessage" class="error-message">
                {{ saveTranscriptionErrorMessage }}
            </div>
        </div>
    </div>
</div>