<button pButton label="Volver" icon="pi pi-arrow-left" class="p-button-sm p-button-secondary" (click)="goBack()"></button>

<h2 class="text-xl font-semibold">Crear nueva cateogría</h2>
<p-card class="max-w-lg mx-auto mt-10 shadow-lg rounded-2xl">


    <form [formGroup]="form" (ngSubmit)="create()" class="space-y-6">
        <div class="field">
            <label for="name" class="block text-sm font-medium mb-1">Nombre *</label>
            <input id="name" type="text" pInputText formControlName="name" class="w-full" [class.p-invalid]="form.get('name')?.invalid && form.get('name')?.touched" />
            <small class="p-error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        El nombre es requerido
      </small>
        </div>

        <div class="flex justify-end">
            <button type="submit" pButton label="Crear" [disabled]="form.invalid || loading" class="p-button-primary"></button>
        </div>
    </form>