<div class="flex flex-col min-h-screen ">
    <!-- TopBar -->
    <app-top-bar
        [isAdmin]="isAdmin"
        [appTitle]="appTitle"
        [isSidebarCollapsed]="isSidebarCollapsed"
        [currentUserId]="currentUserId"
        (logoutEvent)="logout()"
        (toggleSidebarEvent)="toggleSidebar()">
    </app-top-bar>

    <!-- Contenido principal -->
    <div class="flex flex-1 overflow-hidden">
        <!-- Sidebar -->
        <app-sidebar [isAdmin]="isAdmin" [isCollapsed]="isSidebarCollapsed"></app-sidebar>

        <!-- Área de contenido con breadcrumb -->
        <div class="flex-1 flex flex-col overflow-hidden bg-surface-base dark:bg-surface-base-dark transition-all duration-200">
            <!-- Breadcrumb -->
            <app-breadcrumb></app-breadcrumb>

            <!-- Contenido dinámico -->
            <main class="flex-1 p-8 overflow-y-auto">
                <ng-content></ng-content>
            </main>
        </div>
    </div>

    <!-- Footer -->
    <footer class="border-t border-border-default dark:border-border-default-dark bg-surface-overlay dark:bg-surface-overlay-dark text-center py-4 text-sm text-text-secondary dark:text-text-secondary-dark">
        <p>&copy; {{ currentYear }} {{ appTitle }}</p>
    </footer>
</div>