<div class="top-bar">
    <p-menubar styleClass="top-menubar">
        <ng-template pTemplate="start">
            <div class="logo-container">
                <h2 class="app-title">{{ appTitle }}</h2>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="user-menu-container">
                <p-avatar icon="pi pi-user" shape="circle" styleClass="mr-2"></p-avatar>
                <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
                <button pButton type="button" icon="pi pi-angle-down" class="p-button-text p-button-rounded" (click)="userMenu.toggle($event)"></button>
            </div>
        </ng-template>
    </p-menubar>
</div>